<div class="card border border-danger">
  <div class="card-header">
    LIST BOOKS.
  </div>
  <div class="card-body table-wrapper-scroll-y">
      <table class="table">
         <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of booksService.listBooks">
          <td>{{ book.id }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.price }}</td>
          <td>
            <button class="btn btn-secondary text-white mr-md-3" (click)="onEditBook(book)">
              <i class="far fa-edit"></i> Edit
            </button>
            <button class="btn btn-danger text-white" (click)="onDelete(book.id)">
              <i class="fas fa-trash-alt"></i> Delete
            </button>
          </td>
        </tr>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Total $800</th>
          <th scope="col"></th>
        </tr>
      </tbody>
      </table>
  </div>
</div>
