<div class="card mbottom20 border border-danger">
   <div class="card-header">{{title}}</div>
   <div class="card-body d-flex flex-nowrap table-wrapper-scroll-y">
      <div class="">
         <button class="btn btn-outline-dark" type="button" (click)="addForms()">
            <i class="fas fa-plus-circle"></i>
         </button>
      </div>
      <!-- Form group -->
      <form class="col-6" [formGroup]="myForm" (ngSubmit)="createBook()">
         <!-- Form array -->
        <div formArrayName="arrayForms">
            <!-- Loop forms -->
            <div *ngFor="let forms of listForms.controls; let i=index" [formGroupName]="i">
                <!-- Author -->
               <div class="form-group row">
                  <div class="col-9">
                     <input class="form-control" type="text" placeholder="author" name="author" formControlName="author" [(ngModel)]="booksService.books.author">
                  </div>
               </div>
               <!-- Title -->
               <div class="form-group row">
                  <div class="col-9">
                     <input class="form-control" type="text" name="title" placeholder="Title" formControlName="title" [(ngModel)]="booksService.books.title">
                  </div>
               </div>
               <!-- Price -->
               <div class="form-group row">
                  <div class="col-auto col-9">
                     <label class="sr-only" for="inlineFormInputGroup">Price</label>
                     <div class="input-group mb-2 ">
                       <div class="input-group-prepend">
                         <div class="input-group-text">$</div>
                       </div>
                       <input type="number" class="form-control" id="inlineFormInputGroup" placeholder="Price" formControlName="price" [(ngModel)]="booksService.books.price">
                     </div>
                  </div>
               </div>
               <!-- Buttons -->
               <div class="col-sm-6 mbottom20">
                  <button class="btn btn-primary mright10" role="button">
                     <i class="fas fa-plus-circle"></i> Create
                  </button>
                  <button class="btn btn-danger mright10" type="button" (click)="deleteFormBook(i)">
                     <i class="fas fa-trash-alt"></i> Delete
                  </button>
               </div>
            </div>
        </div>
      </form>
   </div>
</div>

