.mbottom20 {
   margin-bottom: 20px;
}

.mright10 {
   margin-right: 10px;
}

.table-wrapper-scroll-y {
   display: block;
   max-height: 300px;
   overflow-y: auto;
   -ms-overflow-style: -ms-autohiding-scrollbar;
}
